body {
  text-align: center;
  background-image: url(https://s3.amazonaws.com/shecodesio-production/uploads/files/000/143/907/original/pexels-ella-olsson-572949-1640774.jpg?1726569155);
  background-size: cover;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.container {
  display: block;
  margin: 0 auto;
  background: #f3e4a2;
  padding: 20px 30px 30px 30px;
  border-radius: 6px;
  max-width: 800px;
  margin-top: 60px;
}

h1 {
  font-size: 45px;
}
.forms {
  background: #e9e6e1;
  display: block;
  margin: 0 auto;
  margin-top: 30px;
  background: #e9e6e1;
  max-width: 650px;
  padding: 20px;
  border-radius: 15px;
  border: 2px solid white;
}
.example {
  font-size: 14px;
  margin-top: 5px;
  text-align: left;
  margin-left: 68px;
  color: grey;
}

.search-input {
  width: 400px;
  padding: 15px;
  background: white;
  border-radius: 4px;
  font-size: 15px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.search-button {
  padding: 15px;
  border-radius: 4px;
  font-size: 15px;
  background: white;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.generating {
  animation: blink-animation 1s steps(5, start) infinite;
}

@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
.recipe-result {
  display: block;
  margin: 0 auto;
  margin-top: 30px;
  background: #e9e6e1;
  max-width: 650px;
  padding: 20px;
  border-radius: 15px;
  font-size: 14px;
  border: 2px solid white;
}

.hidden {
  display: none;
}
footer {
  background: #d7e9ed;
  display: block;
  margin: 0 auto;
  border-radius: 6px;
  max-width: 480px;
  margin-top: 30px;
  padding: 5px 30px;
  font-size: 10px;
}
